<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/categories', 'weapons']">Weapons</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/categories', 'clothes']">Clothes</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/categories', 'supply']">Supply</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/categories', 'more']">More</a>
    </li>
  </ul>
</nav>
